<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moneyware"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.notifications.NotificationActivity"
            android:theme="@style/AppTheme.addbudget"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.settings.settingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.addbudget" />
        <activity
            android:name=".presentation.ui.expenses.addExpense"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.addbudget" />
        <activity
            android:name=".presentation.ui.expenses.ExpenseActivity"
            android:exported="false"
            android:parentActivityName=".presentation.ui.home.MainActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".presentation.ui.budget.addbudget"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.addbudget" />
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.home.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/mytheme" />

        <receiver
            android:name=".features.sms.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>